<!-- Combining chassis, camera, and radar -->
<robot name="my_car_camera" xmlns:xacro="http://wiki.ros.org/xacro">
    <!-- Include head file with inertia matrix calculation -->
    <xacro:include filename="head.xacro" />

    <!-- Parts of the robot -->
    <xacro:include filename="car_base.xacro" />
    <xacro:include filename="car_camera.xacro" />
    <xacro:include filename="car_laser.xacro" />

    <!-- Motion control -->
    <xacro:include filename="car_move.xacro" />
</robot>

