<!-- 组合底盤、攝影機和雷達 -->
<robot name="my_car_camera" xmlns:xacro="http://wiki.ros.org/xacro">
    <!-- 包含惯性矩陣計算的head文件 -->
    <xacro:include filename="head.xacro" />

    <!-- part of robot -->
    <xacro:include filename="car_base.xacro" />
    <xacro:include filename="car_camera.xacro" />
    <xacro:include filename="car_laser.xacro" />

    <!-- 運動控制 -->
    <xacro:include filename="car_move.xacro" />
</robot>
